@import './modules/variables.css';

.body{
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}

.container{
    max-width: var(--max-width-container);
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 1rem;
}

.menu__link{
    color: var(--primary-text-color);
    text-decoration: none;
}

.menu__link:hover{
    color: var(--secondary-text-color);
}